{% extends "layout.html" %}

<!-------------------------------------------->

{% block tittle %} Inicio {% endblock %} 

{% block body %} 

<div class="container" id="contenedor">
  <div class="card">
    <div class="card-title"> Bienvenido</div>
    <div class="card-body">
      <h3> Al Inicio </h3>
    </div>
  </div>
</div>

<div>
  <form action="/login" method="post">
    <input class="form-control w-25" type="text" name="usuario" placeholder="ingrese usuario">
    <input class="form-control w-25" type="password" name="password" placeholder="ingrese contraseña">
    <select name="tipo_usuario" class="form-control w-25">
      <option value="0"> Docente </option>
      <option value="1"> Alumno </option>
      <option value="2"> Administracion </option>
    </select>
    <button type="submit" class="btn btn-success"> Enviar </button>
  </form>
</div>

{% endblock %} 


<!-------------------------------------------->
